*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* ==========================start header ========================== */
.perant{
    background: url(/imges=G/photo1700315594.jpeg);
    height: 100vh;
    width: 100%;
    padding:0px  20px;
    font-family: 'Dancing Script', cursive;
    font-family: 'DM Sans', sans-serif;
}
.perant .container {
    margin: auto;
    position: relative;
    height: calc(100vh - 65px );
    max-height: calc(100vh - 65px );
}
.perant .container .header-A{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.perant .container .header-A .contact .box{
    display: inline-block;
    margin: 0px 20px 0px 20px;
    position: relative;
}
.header-A .contact .box img{
    border-radius: 50%;
    position: absolute;
    bottom: 20%;
    left: -20%;
}
 .header-A .contact .box span{
    font-size: 14px;
    color: #3939429d;
}
.header-A .contact .box h3{
    font-size: 16px;
    color: #231f5c;
}
.perant .container .header{
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 15px;
}
.logo{
    font-size: 18px;
    background-color: #231f5c;
    border-radius: 25px;
    padding: 10px;
    color: rgb(255, 255, 255);
}

.header .NAVIGATION ul{
    list-style: none;
    right: 0px;
    display: inline-block;
}

.header .NAVIGATION ul li{
    display: inline;
    margin: 0px  15px;

}
.header .NAVIGATION ul li a{
    text-decoration: none;
    font-size:17px;
    font-weight: bold;
    color: #27265f;
}
.NAVIGATION ul li a:hover {
    color:  #2bb573;
   /* border-bottom:  #2bb573 solid 2px; */
}

/* =============== End Header ============== */

/* =============== Start Landing  ======== */

.container .landng{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 25%;
}
.container .landng .p-home{
    padding: 6px;
    width: 100%;
    animation-name: Home ;
    animation-duration: 1s;
    animation-timing-function: linear;
}
a{
  cursor: pointer;
}

@keyframes Home {

    0%{
        opacity: 0;
        margin-top: 50px
    }

  100%{
        opacity: 1;
    }
   
}
.container .landng .p-home h1{
    line-height: 1.666;
    color: #27265f;
    font-size: 38px;
    margin-top: 50px;
    margin-right: 26px;
    text-align: left;
}
.container .landng .p-home h3{
    color: #27265f;

}
.container .landng .p-home span{
    color: #2bb573;
    font-size: 40px;
    word-spacing: 1;
    margin-right: 5px;
}

.container .landng .p-home a{
    text-decoration: none;
    background-color:#c5e0d3;
    color: #2bb573 ;
    border-radius: 25px;
    font-size: 18px;
    padding: 15 15px;
    margin-right: 22px;
    transition: 0.5s;
}

.container .landng .p-home .B{
    right:  19%;
}

.home-social{
    margin-left: 70px;
    position: relative;

}
.home-social img {
    width: 100%;
}
.home-social .photo{
    width:400px;
}
.footer{
    font-family: 'Dancing Script', cursive;
    font-family: 'DM Sans', sans-serif;
    background-color: #2bb573;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #ffffff;
    padding-bottom: 30px;
}

.footer .box{
    position: relative;
    margin: 10px;
}
.footer .box ::before{
    content: "";
    width: 2px;
    height: 30px;
    background-color: #ffffff;
    position: absolute;
    left: -110px;
}
.footer .box span{
    font-size: 10px;
    color: #c5e0d3d0;
}
.footer .box h3{
    font-size: 14px;
}
.footer .box img{
    border-radius: 50%;
    position: absolute;
    bottom: 20%;
    left: -45%;
}
.footer ul{
    list-style: none;
    font-size: 14px;
    font-weight: normal;
}
.footer ul li{
    margin: 5px;
}
.footer img{
    margin-left: 40px;
}
.footer h2{
    font-size: 12px;
    margin-left: 15px;
    position: relative;
}
.nav-f{
    margin: 8px 0px 0px 23px;
}
.nav-f a{
   color: #ffffff;
   margin: 5px;
   font-size:18px ;
}